.main {
    width: 65%;
    // margin-top: 5rem;
    @include spacing-top;
    margin-right: 2rem;
    padding: 5rem;
    padding-left: 6.5rem;    
}

.right-sidebar {
    position: absolute;
    right: 5rem;    
    @include spacing-top;

    width: 30%;             
}

.heading-primary {
    
}