.main {
    width: 65%;
    margin-top: 10rem;
    margin-right: 2rem;
    padding: 5rem;
    padding-left: 6.5rem;    
}

.right-sidebar {
    position: fixed;
    right: 5rem;
    top: 0;

    width: 30%;
    margin-top: 18rem;            
}