*,
*:link,
*:visited {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Josefin Sans", "Open Sans", "Helvetica", "Arial", sans-serif;
  width: 100%;
}

.heading-1 {
  font-family: Cambria;
  font-size: 4rem;
}

.heading-2 {
  font-family: Cambria;
  font-size: 3.6rem;
}
.heading-2-primary {
  color: #8b3719;
}

.heading-3 {
  font-family: Cambria;
  font-size: 3.6rem;
  color: #8b3719;
}

.heading-4 {
  font-family: Cambria;
  font-size: 3.6rem;
  color: #8b3719;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-center-text {
  text-align: center !important;
}

.u-mb-s {
  margin-bottom: 2.5rem !important;
}

.u-mb-m {
  margin-bottom: 5rem !important;
}

.u-mb-l {
  margin-bottom: 7.5rem !important;
}

.u-mb-xl {
  margin-bottom: 10rem !important;
}

.u-mt-s {
  margin-top: 2.5rem !important;
}

.u-mt-m {
  margin-top: 5rem !important;
}

.u-mt-l {
  margin-top: 7.5rem !important;
}

.u-mt-xl {
  margin-top: 10rem !important;
}

.nav--item {
  padding: 1.2rem 1.6rem;
}

.dropdown--item {
  padding: 1.2rem 2rem;
}

.heading-1, .heading-2, .heading-3, .heading-4 {
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.blog__title:hover {
  filter: brightness(125%);
}
.blog__read-more {
  color: #318dc2;
}
.blog__info {
  margin-top: 1rem;
}
.blog__author {
  display: inline-block;
  color: #8b3719;
}
.blog__author::before {
  content: "Posted by: ";
  font-weight: 400;
  color: #1b1b1b;
  cursor: text;
}
.blog__date {
  font-family: Copse;
  font-weight: bold;
  color: #999999;
}
.blog__date::before {
  content: "on ";
  font-weight: 400;
  color: #1b1b1b;
  cursor: text;
  font-style: normal;
}
.blog__category {
  margin-top: 0.5rem;
  font-size: 1.35rem;
}
.blog__category-text {
  color: #999999;
}
.blog__category-content {
  padding: 0.2rem 0.4rem;
  color: #973d29;
  background-color: #dddddd;
  border-radius: 5px;
}
.blog__category-content:hover {
  opacity: 0.7;
}

.dropdown {
  position: relative;
}
.dropdown:hover .dropdown--menu {
  opacity: 1;
  visibility: visible;
}
.dropdown--menu {
  list-style-type: none;
  position: absolute;
  left: 0;
  transform: translateX(-18%);
  transition: 0.5s;
  display: block;
  opacity: 0;
  visibility: hidden;
}
.dropdown--list {
  display: block;
}
.dropdown--item {
  display: block;
  width: 25rem;
  margin: 0;
  color: #dddddd;
  background-color: lightcoral;
  border-bottom: 2px solid transparent;
  transition: 0.35s;
}
.dropdown--item:hover {
  border-bottom: 2px solid #dddddd;
}
.dropdown--item:hover::after {
  content: ">";
  transition: 0.55s;
  padding-left: 8px;
}

.latest-post {
  text-transform: capitalize;
  width: 100%;
  padding: 1.6rem;
  padding-left: 2rem;
  border-bottom: 2px solid #973d29;
  transition: 0.5s background;
}
.latest-post:hover {
  background-color: #973d29;
}
.latest-post:hover .latest-post-item {
  color: #dddddd;
}
.latest-post-item {
  font-size: 2rem;
  color: #9c3814;
}

.nav {
  width: 100%;
  background-color: #000000;
}
.nav--menu {
  margin: 0;
  list-style-type: none;
  padding-left: 5rem;
  padding-right: 10rem;
}
.nav--list {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.nav--item {
  display: block;
  color: #dddddd;
  margin: 0;
  transition: 0.35s border;
  border-top: 5px dotted transparent;
  border-bottom: 5px dotted transparent;
}
.nav--item:hover {
  border-top: 5px dotted #973d29;
  border-bottom: 5px dotted #973d29;
}

.main {
  width: 65%;
  margin-top: 4rem;
  top: 18rem;
  margin-right: 2rem;
  padding: 5rem;
  padding-left: 6.5rem;
}

.right-sidebar {
  position: absolute;
  right: 5rem;
  margin-top: 4rem;
  top: 18rem;
  width: 30%;
}

/*# sourceMappingURL=home.css.map */
