// Margin-top for Homepage->(main, sidebar)
$margin-for-homepage: 4rem;

// COLOR
$color-primary: #973d29;
$color-primary-1: #8b3719;
$color-primary-2: #9c3814;

$color-secondary: #606060;
$color-secondary-1: #777777;


$color-light: #dddddd;

$color-text: #999999;

$color-dark: #000000;
$color-dark-1: #1b1b1b;

$color-link: rgb(49, 141, 194);

// FONT-SIZE
$font-size-xs: 1rem;
$font-size-s: 1.35rem;
$font-size-m: 1.6rem;
$font-size-l: 2rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3rem;
$font-size-xxxl: 3.6rem;
$font-size-xxxxl: 4rem;

// FONT-FAMILY
$font-family-primary: 'Josefin Sans', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-family-sans-serif: "Segoe UI", Roboto, "Helvetica", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "LiberatioMono", "Courier New", monospace;